In [15]:
%load_ext autoreload
%autoreload 2
from invest_data import load_data, stickers

data = load_data()
data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

{'D05.SI':                   Date   High    Low   Open  Close        Volume  Adj Close
 Date
 2000-01-03  2000-01-03 27.500 27.000 27.400 27.300   748,000.000     13.003
 2000-01-04  2000-01-04 27.300 26.000 27.300 26.300 2,405,000.000     12.527
 2000-01-05  2000-01-05 25.800 24.600 25.800 24.600 3,892,000.000     11.717
 2000-01-06  2000-01-06 25.200 23.400 25.000 24.100 2,522,000.000     11.479
 2000-01-07  2000-01-07 25.000 23.800 24.100 25.000 3,649,000.000     11.908
 ...                ...    ...    ...    ...    ...           ...        ...
 2020-10-26  2020-10-26 21.550 21.270 21.550 21.300 1,878,800.000     21.300
 2020-10-27  2020-10-27 21.340 21.100 21.210 21.320 3,294,400.000     21.320
 2020-10-28  2020-10-28 21.180 20.900 21.100 20.900 4,233,200.000     20.900
 2020-10-29  2020-10-29 20.690 20.530 20.650 20.560 5,750,300.000     20.560
 2020-10-30  2020-10-30 20.580 20.310 20.400 20.350 7,438,700.000     20.350

 [5275 rows x 7 columns],
 'ME8U.SI':                   Date  High   Low  Open  Close          Volume  Adj Close
 Date
 2010-10-21  2010-10-21 1.189 1.139 1.139  1.149 348,314,527.000      0.615
 2010-10-22  2010-10-22 1.159 1.100 1.149  1.100 113,018,003.000      0.588
 2010-10-25  2010-10-25 1.109 1.070 1.100  1.080  75,151,167.000      0.577
 2010-10-26  2010-10-26 1.090 1.040 1.080  1.090  79,694,097.000      0.583
 2010-10-27  2010-10-27 1.100 1.070 1.090  1.090  37,594,260.000      0.583
 ...                ...   ...   ...   ...    ...             ...        ...
 2020-10-26  2020-10-26 3.170 3.090 3.170  3.100   4,408,400.000      3.100
 2020-10-27  2020-10-27 3.130 3.090 3.100  3.100   5,203,200.000      3.100
 2020-10-28  2020-10-28 3.180 3.130 3.130  3.140   6,898,800.000      3.140
 2020-10-29  2020-10-29 3.150 3.100 3.140  3.120   3,849,900.000      3.120
 2020-10-30  2020-10-30 3.120 3.030 3.110  3.040  10,537,900.000      3.040

 [2517 rows x 7 columns],
 'AJBU.SI':                   Date  High   Low  Open  Close          Volume  Adj Close
 Date
 2014-12-12  2014-12-12 0.951 0.913 0.947  0.932 108,702,911.000      0.704
 2014-12-15  2014-12-15 0.937 0.922 0.937  0.932  19,879,174.000      0.704
 2014-12-16  2014-12-16 0.927 0.913 0.927  0.922   8,490,215.000      0.697
 2014-12-17  2014-12-17 0.932 0.918 0.927  0.932  13,682,073.000      0.704
 2014-12-18  2014-12-18 0.937 0.927 0.932  0.932  19,600,687.000      0.704
 ...                ...   ...   ...   ...    ...             ...        ...
 2020-10-26  2020-10-26 3.010 2.950 3.000  2.950   2,360,800.000      2.950
 2020-10-27  2020-10-27 2.980 2.930 2.950  2.960   3,034,700.000      2.960
 2020-10-28  2020-10-28 2.980 2.930 2.960  2.950   3,268,100.000      2.950
 2020-10-29  2020-10-29 2.970 2.930 2.940  2.960   2,961,200.000      2.960
 2020-10-30  2020-10-30 2.960 2.900 2.950  2.900   5,798,900.000      2.900

 [1477 rows x 7 columns],
 'C2PU.SI':                   Date  High   Low  Open  Close        Volume  Adj Close
 Date
 2007-11-07  2007-11-07 1.240 1.230 1.230  1.240   488,000.000      0.647
 2007-11-09  2007-11-09 1.230 1.220 1.220  1.220   134,000.000      0.637
 2007-11-12  2007-11-12 1.220 1.190 1.220  1.200 1,186,000.000      0.626
 2007-11-13  2007-11-13 1.190 1.180 1.190  1.180   745,000.000      0.616
 2007-11-14  2007-11-14 1.200 1.160 1.200  1.170 1,310,000.000      0.611
 ...                ...   ...   ...   ...    ...           ...        ...
 2020-10-26  2020-10-26 4.090 4.020 4.080  4.090   322,700.000      4.090
 2020-10-27  2020-10-27 4.090 4.000 4.090  4.010   440,600.000      4.010
 2020-10-28  2020-10-28 4.040 4.000 4.020  4.010   521,500.000      4.010
 2020-10-29  2020-10-29 4.070 4.000 4.000  4.070   333,000.000      4.070
 2020-10-30  2020-10-30 4.080 4.000 4.080  4.050   436,000.000      4.050

 [3257 rows x 7 columns],
 'BABA':                   Date    High     Low    Open   Close     Volume  Adj Close
 Date
 2014-09-19  2014-09-19  99.700  89.950  92.700  93.890  271879400     93.890
 2014-09-22  2014-09-22  92.950  89.500  92.700  89.890   66657800     89.890
 2014-09-23  2014-09-23  90.480  86.620  88.940  87.170   39009800     87.170
 2014-09-24  2014-09-24  90.570  87.220  88.470  90.570   32088000     90.570
 2014-09-25  2014-09-25  91.500  88.500  91.090  88.920   28598000     88.920
 ...                ...     ...     ...     ...     ...        ...        ...
 2020-10-26  2020-10-26 315.460 303.200 309.920 306.870    9350100    306.870
 2020-10-27  2020-10-27 319.320 305.610 307.750 317.140   13175900    317.140
 2020-10-28  2020-10-28 313.500 306.000 313.500 307.940   13644500    307.940
 2020-10-29  2020-10-29 315.580 308.910 309.440 312.560   11174500    312.560
 2020-10-30  2020-10-30 310.830 300.190 308.550 304.690   14918500    304.690

 [1541 rows x 7 columns],
 'MSFT':                   Date    High     Low    Open   Close         Volume  \
 Date
 1996-12-31  1996-12-31  10.531  10.312  10.500  10.328 34,367,200.000
 1997-01-02  1997-01-02  10.391  10.094  10.391  10.203 54,480,800.000
 1997-01-03  1997-01-03  10.594  10.250  10.281  10.578 44,131,200.000
 1997-01-06  1997-01-06  10.656  10.391  10.578  10.547 55,948,000.000
 1997-01-07  1997-01-07  10.641  10.422  10.562  10.625 36,880,800.000
 ...                ...     ...     ...     ...     ...            ...
 2020-10-26  2020-10-26 216.340 208.100 213.850 210.080 37,111,600.000
 2020-10-27  2020-10-27 214.670 210.330 211.590 213.250 36,700,300.000
 2020-10-28  2020-10-28 208.840 202.100 207.670 202.680 51,195,600.000
 2020-10-29  2020-10-29 207.360 203.370 204.070 204.720 31,432,600.000
 2020-10-30  2020-10-30 204.290 199.620 203.500 202.470 36,953,700.000

             Adj Close
 Date
 1996-12-31      6.592
 1997-01-02      6.512
 1997-01-03      6.752
 1997-01-06      6.732
 1997-01-07      6.782
 ...               ...
 2020-10-26    210.080
 2020-10-27    213.250
 2020-10-28    202.680
 2020-10-29    204.720
 2020-10-30    202.470

 [6000 rows x 7 columns],
 'AAPL':                   Date    High     Low    Open   Close            Volume  \
 Date
 1996-12-31  1996-12-31   0.192   0.185   0.191   0.186   383,745,600.000
 1997-01-02  1997-01-02   0.190   0.185   0.189   0.188   143,113,600.000
 1997-01-03  1997-01-03   0.199   0.188   0.189   0.194   119,716,800.000
 1997-01-06  1997-01-06   0.164   0.154   0.157   0.160 1,882,832,000.000
 1997-01-07  1997-01-07   0.163   0.156   0.162   0.156   976,931,200.000
 ...                ...     ...     ...     ...     ...               ...
 2020-10-26  2020-10-26 116.550 112.880 114.010 115.050   111,850,700.000
 2020-10-27  2020-10-27 117.280 114.540 115.490 116.600    92,276,800.000
 2020-10-28  2020-10-28 115.430 111.100 115.050 111.200   143,937,800.000
 2020-10-29  2020-10-29 116.930 112.200 112.370 115.320   146,129,200.000
 2020-10-30  2020-10-30 111.990 107.720 111.060 108.860   190,272,600.000

             Adj Close
 Date
 1996-12-31      0.161
 1997-01-02      0.162
 1997-01-03      0.168
 1997-01-06      0.138
 1997-01-07      0.135
 ...               ...
 2020-10-26    115.050
 2020-10-27    116.600
 2020-10-28    111.200
 2020-10-29    115.320
 2020-10-30    108.860

 [6000 rows x 7 columns],
 'NVDA':                   Date    High     Low    Open   Close         Volume  \
 Date
 1999-01-22  1999-01-22   1.953   1.552   1.750   1.641 67,867,200.000
 1999-01-25  1999-01-25   1.833   1.641   1.771   1.812 12,762,000.000
 1999-01-26  1999-01-26   1.870   1.646   1.833   1.672  8,580,000.000
 1999-01-27  1999-01-27   1.719   1.583   1.677   1.667  6,109,200.000
 1999-01-28  1999-01-28   1.677   1.651   1.667   1.661  5,688,000.000
 ...                ...     ...     ...     ...     ...            ...
 2020-10-26  2020-10-26 547.710 521.540 537.080 525.650  8,422,400.000
 2020-10-27  2020-10-27 537.680 527.660 532.240 535.870  6,263,000.000
 2020-10-28  2020-10-28 530.400 504.360 527.920 505.080  9,413,000.000
 2020-10-29  2020-10-29 527.710 510.000 513.540 520.960  8,002,000.000
 2020-10-30  2020-10-30 517.460 492.000 514.000 501.360 10,420,500.000

             Adj Close
 Date
 1999-01-22      1.509
 1999-01-25      1.667
 1999-01-26      1.538
 1999-01-27      1.533
 1999-01-28      1.528
 ...               ...
 2020-10-26    525.650
 2020-10-27    535.870
 2020-10-28    505.080
 2020-10-29    520.960
 2020-10-30    501.360

 [5481 rows x 7 columns],
 'SPY':                   Date    High     Low    Open   Close          Volume  \
 Date
 1996-12-31  1996-12-31  75.375  73.844  75.281  73.844   1,378,100.000
 1997-01-02  1997-01-02  74.375  72.750  74.375  74.031   2,031,900.000
 1997-01-03  1997-01-03  75.125  74.078  74.375  75.094   2,123,200.000
 1997-01-06  1997-01-06  75.438  74.312  75.094  74.438   1,374,100.000
 1997-01-07  1997-01-07  75.469  74.125  74.438  75.344     939,000.000
 ...                ...     ...     ...     ...     ...             ...
 2020-10-26  2020-10-26 342.980 335.620 342.130 339.390  91,473,000.000
 2020-10-27  2020-10-27 340.120 337.990 339.760 338.220  65,994,100.000
 2020-10-28  2020-10-28 338.250 326.130 332.100 326.660 127,094,300.000
 2020-10-29  2020-10-29 333.400 325.090 326.910 329.980  90,597,700.000
 2020-10-30  2020-10-30 329.690 322.600 328.280 326.540 120,287,300.000

             Adj Close
 Date
 1996-12-31     48.134
 1997-01-02     48.256
 1997-01-03     48.949
 1997-01-06     48.521
 1997-01-07     49.112
 ...               ...
 2020-10-26    339.390
 2020-10-27    338.220
 2020-10-28    326.660
 2020-10-29    329.980
 2020-10-30    326.540

 [6000 rows x 7 columns],
 'ARKK':                   Date   High    Low   Open  Close        Volume  Adj Close
 Date
 2014-10-31  2014-10-31 20.420 20.380 20.420 20.380     2,700.000     18.997
 2014-11-03  2014-11-03 20.490 20.350 20.490 20.380     2,300.000     18.997
 2014-11-04  2014-11-04 20.270 20.200 20.200 20.260     7,900.000     18.885
 2014-11-05  2014-11-05 20.510 20.000 20.510 20.000    14,900.000     18.643
 2014-11-06  2014-11-06 20.140 20.070 20.090 20.140     2,000.000     18.773
 ...                ...    ...    ...    ...    ...           ...        ...
 2020-10-26  2020-10-26 99.840 95.860 98.160 97.200 2,342,200.000     97.200
 2020-10-27  2020-10-27 98.995 97.635 97.840 98.630 1,410,200.000     98.630
 2020-10-28  2020-10-28 96.370 94.350 96.310 94.750 2,518,900.000     94.750
 2020-10-29  2020-10-29 96.460 94.930 95.600 95.990 2,078,500.000     95.990
 2020-10-30  2020-10-30 95.150 89.950 95.000 90.790 4,213,700.000     90.790

 [1511 rows x 7 columns]}

In [16]:
from datetime import datetime
from invest_analysis import calculate_stock, calculate_stocks
import pandas as pd

pd.options.display.float_format = '{:,.3f}'.format
start_td = datetime.strptime('2007-1-1', '%Y-%m-%d')
end_td = datetime.now()

def strategy_monthly_fix(volum, price_sum, price, start_price):
    volum += 1
    price_sum += price
    return volum, price_sum

ret1 = calculate_stocks(data, stickers, start_td, end_td, strategy_monthly_fix)
ret1

         Price inc  Ann ret Start time  Inv period Unit vol  Total inc
D05.SI       0.455    0.027 2007-01-03      13.841      171  1,087.643
ME8U.SI      1.312    0.087 2010-10-21      10.041      125    215.613
AJBU.SI      1.282    0.150 2014-12-12       5.896       75    122.183
C2PU.SI      1.369    0.069 2007-11-07      12.997      160    374.442
BABA         1.143    0.133 2014-09-19       6.126       78 12,678.390
MSFT         2.829    0.102 2007-01-03      13.841      171 25,580.670
AAPL         3.443    0.114 2007-01-03      13.841      171 14,424.927
NVDA         5.635    0.147 2007-01-03      13.841      171 72,811.966
SPY          0.958    0.050 2007-01-03      13.841      171 27,316.777
ARKK         1.608    0.173 2014-10-31       6.011       77  4,310.463

In [17]:
def strategy_montly_dynamic(volum, price_sum, price, start_price):
    diff = price/start_price * 2
    v = 0.5
    v = v + 1/diff
    volum += v
    price_sum += price * v
    return volum, price_sum

ret2 = calculate_stocks(data, stickers, start_td, end_td, strategy_montly_dynamic)
ret2

         Price inc  Ann ret Start time  Inv period  Unit vol  Total inc
D05.SI       0.550    0.032 2007-01-03      13.841   176.353  1,274.058
ME8U.SI      1.488    0.095 2010-10-21      10.041    98.724    179.517
AJBU.SI      1.420    0.162 2014-12-12       5.896    61.820    105.205
C2PU.SI      1.613    0.077 2007-11-07      12.997   121.669    304.201
BABA         1.294    0.145 2014-09-19       6.126    69.293 11,907.383
MSFT         3.589    0.116 2007-01-03      13.841   145.227 22,996.164
AAPL         4.070    0.124 2007-01-03      13.841   107.866  9,426.073
NVDA         9.647    0.186 2007-01-03      13.841   177.357 80,568.250
SPY          1.120    0.056 2007-01-03      13.841   151.936 26,209.720
ARKK         1.844    0.190 2014-10-31       6.011    64.898  3,820.504

In [18]:
ret2-ret1

         Price inc  Ann ret Start time  Inv period Unit vol  Total inc
D05.SI       0.096    0.005     0 days       0.000    5.353    186.414
ME8U.SI      0.177    0.008     0 days       0.000  -26.276    -36.096
AJBU.SI      0.138    0.012     0 days       0.000  -13.180    -16.978
C2PU.SI      0.245    0.008     0 days       0.000  -38.331    -70.242
BABA         0.150    0.013     0 days       0.000   -8.707   -771.007
MSFT         0.760    0.014     0 days       0.000  -25.773 -2,584.507
AAPL         0.627    0.011     0 days       0.000  -63.134 -4,998.855
NVDA         4.012    0.040     0 days       0.000    6.357  7,756.284
SPY          0.162    0.006     0 days       0.000  -19.064 -1,107.057
ARKK         0.236    0.017     0 days       0.000  -12.102   -489.959

In [19]:
def strategy_monthly_donothing(volum, price_sum, price, start_price):
    return volum, price_sum

ret3 = calculate_stocks(data, stickers, start_td, end_td, strategy_monthly_donothing)
ret3

         Price inc  Ann ret Start time  Inv period Unit vol  Total inc
D05.SI       0.555    0.032 2007-01-03      13.841        5     36.333
ME8U.SI      3.947    0.173 2010-10-21      10.041        5     12.127
AJBU.SI      3.117    0.271 2014-12-12       5.896        5     10.978
C2PU.SI      5.257    0.152 2007-11-07      12.997        5     17.014
BABA         2.245    0.212 2014-09-19       6.126        5  1,054.000
MSFT         8.174    0.174 2007-01-03      13.841        5    901.998
AAPL        41.092    0.310 2007-01-03      13.841        5    531.369
NVDA        21.664    0.253 2007-01-03      13.841        5  2,396.193
SPY          2.054    0.084 2007-01-03      13.841        5  1,098.040
ARKK         3.779    0.297 2014-10-31       6.011        5    358.964

In [20]:
ret3-ret1

         Price inc  Ann ret Start time  Inv period Unit vol   Total inc
D05.SI       0.101    0.005     0 days       0.000     -166  -1,051.310
ME8U.SI      2.635    0.086     0 days       0.000     -120    -203.486
AJBU.SI      1.835    0.121     0 days       0.000      -70    -111.205
C2PU.SI      3.888    0.083     0 days       0.000     -155    -357.429
BABA         1.102    0.079     0 days       0.000      -73 -11,624.390
MSFT         5.345    0.072     0 days       0.000     -166 -24,678.672
AAPL        37.649    0.196     0 days       0.000     -166 -13,893.559
NVDA        16.029    0.106     0 days       0.000     -166 -70,415.774
SPY          1.096    0.034     0 days       0.000     -166 -26,218.737
ARKK         2.171    0.124     0 days       0.000      -72  -3,951.499

In [21]:
from invest_analysis import calculate_stocks_various_start_till_now

calculate_stocks_various_start_till_now(data, stickers, 2001, strategy_monthly_fix)

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
D05.SI,0.027,0.027,0.027,0.027,0.027,0.027,0.027,0.029,0.031,0.029,0.028,0.027,0.024,0.021,0.017,0.015,-0.003,-0.032,-0.040,-0.090
ME8U.SI,0.087,0.087,0.087,0.087,0.087,0.087,0.087,0.087,0.087,0.087,0.087,0.090,0.093,0.098,0.105,0.113,0.122,0.132,0.161,0.149
AJBU.SI,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.150,0.151,0.166,0.185,0.213,0.268,0.276
C2PU.SI,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.069,0.070,0.071,0.071,0.074,0.076,0.082,0.091,0.101,0.113,0.127,0.172,0.227
BABA,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.133,0.139,0.154,0.165,0.180,0.296,0.411
MSFT,0.082,0.085,0.088,0.091,0.094,0.098,0.102,0.106,0.112,0.118,0.121,0.127,0.133,0.139,0.150,0.158,0.167,0.174,0.199,0.155
AAPL,0.097,0.099,0.102,0.105,0.107,0.110,0.114,0.117,0.122,0.127,0.130,0.137,0.146,0.156,0.172,0.195,0.215,0.248,0.348,0.355
NVDA,0.117,0.121,0.126,0.130,0.135,0.140,0.147,0.154,0.162,0.174,0.179,0.190,0.201,0.212,0.232,0.244,0.254,0.294,0.509,0.694
SPY,0.043,0.044,0.045,0.046,0.047,0.048,0.050,0.052,0.054,0.054,0.054,0.054,0.054,0.054,0.056,0.058,0.057,0.056,0.076,0.051
ARKK,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.173,0.181,0.200,0.221,0.245,0.354,0.573

In [ ]:
def calculate_stocks_various_period(data, stickers, start_y, period_y, invest_strategy):
    start_time_arr = range(start_y, 2021)
    result = {}
    for y in start_time_arr:
        for s in stickers:
            start_td = datetime.strptime(str(y)+'-1-1', '%Y-%m-%d')
            end_td = datetime.strptime(str(y+period_y)+'-1-1', '%Y-%m-%d')
            ar, _, _, _, _, _, _ = calculate_stock(
                data[s], start_td, end_td, invest_strategy)
            if s not in result:
                result[s] = {}
            result[s][str(y)] = ar
            
    start_time_arr = range(start_y, 2021)
    columns = []
    for y in start_time_arr:
        columns.append(str(y))
    result_df = pd.DataFrame(columns=columns)
    for s in stickers:
        series = pd.Series(result[s], name=s)
        result_df = result_df.append(series)

    return result_df
        
calculate_stocks_various_period(data, stickers, 2001, 3, strategy_monthly_fix)